@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('../img/login_bg.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}

.form-box{
    position: relative;
    padding: 20px;
    width: 25dvw;
    height: 60dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    z-index: 5;
}

.form-value {
    z-index: 4;
}

h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox{
    position: relative;
    margin: 30px;
    width: auto;
    border-bottom: 2px solid #fff;
}

.inputbox label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .35s;
}

input:focus ~ label, input:not(:placeholder-shown) ~ label{
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 600;
    transition: 0.3s;
}

button:hover {
    transition: 0.3s;
    box-shadow: 0 0 10px black;
}

.register{
    width: 100%;
    font-size: 1em;
    color: #fff;
    text-align: center;
    margin: 25px 0 0;
}

.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
}

@media (max-width: 1050px) {
    .form-box {
        width: 50dvw;
    }
}

@media (max-width: 650px) {
    .form-box {
        width: 70dvw;
    }
}

@media (max-width: 370px) {
    .form-box {
        width: 90dvw;
    }
}